---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Advantages from "../components/Advantages.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Reviews from "../components/Reviews.astro";
import Map from "../components/Map.astro";
import CTASection from "../components/CTASection.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <Advantages />
    <Services />
    <About />
    <Reviews />
    <Map />
    <CTASection />
  </main>
  <Footer />
</Base>
